[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
troposphere = "*"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
neovim = "*"
jedi-language-server = "*"
isort = "*"

[requires]
python_version = "3.9"
